@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background            : 0 0% 100%;
    --foreground            : 224 71.4% 4.1%;
    --card                  : 0 0% 100%;
    --card-foreground       : 224 71.4% 4.1%;
    --popover               : 0 0% 100%;
    --popover-foreground    : 224 71.4% 4.1%;
    --primary               : 262.1 83.3% 57.8%;
    --primary-foreground    : 210 20% 98%;
    --secondary             : 220 14.3% 95.9%;
    --secondary-foreground  : 220.9 39.3% 11%;
    --muted                 : 220 14.3% 95.9%;
    --muted-foreground      : 220 8.9% 46.1%;
    --accent                : 220 14.3% 95.9%;
    --accent-foreground     : 220.9 39.3% 11%;
    --destructive           : 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border                : 220 13% 91%;
    --input                 : 220 13% 91%;
    --ring                  : 262.1 83.3% 57.8%;
    --radius                : 0.5rem;
  }

  .dark {
    --background            : 224 71.4% 4.1%;
    --foreground            : 210 20% 98%;
    --card                  : 224 71.4% 4.1%;
    --card-foreground       : 210 20% 98%;
    --popover               : 224 71.4% 4.1%;
    --popover-foreground    : 210 20% 98%;
    --primary               : 263.4 70% 50.4%;
    --primary-foreground    : 210 20% 98%;
    --secondary             : 215 27.9% 16.9%;
    --secondary-foreground  : 210 20% 98%;
    --muted                 : 215 27.9% 16.9%;
    --muted-foreground      : 217.9 10.6% 64.9%;
    --accent                : 215 27.9% 16.9%;
    --accent-foreground     : 210 20% 98%;
    --destructive           : 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border                : 215 27.9% 16.9%;
    --input                 : 215 27.9% 16.9%;
    --ring                  : 263.4 70% 50.4%;
  }
}

.tw-cc {
  @apply flex justify-center items-center;
}

.tw-fc {
  @apply flex flex-col;
}

.tw-jb {
  @apply flex justify-between items-center;
}


.tw-ic {
  @apply flex items-center;
}

.tw-xs-sb {
  @apply font-semibold text-xs
}

.tw-sm-sb {
  @apply font-semibold text-sm
}

.tw-md-sb {
  @apply font-semibold
}

.tw-lg-sb {
  @apply font-semibold text-lg
}

.tw-xl-sb {
  @apply font-semibold text-xl
}

.tw-2xl-sb {
  @apply font-semibold text-2xl
}

.tw-3xl-sb {
  @apply font-semibold text-3xl
}

.tw-txt-sm-mobile {
  @apply text-[8px]
}

.tw-xs-b {
  @apply font-bold text-xs
}

.tw-sm-b {
  @apply font-bold text-sm
}

.tw-md-b {
  @apply font-bold
}

.tw-lg-b {
  @apply font-bold text-lg
}

.tw-xl-b {
  @apply font-bold text-xl
}

.tw-2xl-b {
  @apply font-bold text-2xl
}

.tw-3xl-b {
  @apply font-bold text-3xl
}

.tw-btn-outline {
  @apply bg-transparent hover:text-primary
}

.tw-hv-su {
  @apply hover:duration-200 hover:scale-105 cursor-pointer
}

.tw-hv-sd {
  @apply hover:duration-200 hover:scale-95 cursor-pointer
}

.customModal {
  background: #b2dbbf;
  max-width: 100vw !important;
  margin: 0 auto;
  /* width: 100%; */
}


/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
  /* Width of the scrollbar */
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius   : 5px;
}

/* Track background color */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}




@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}